<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<title>Whatsapp UI</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<script type="text/javascript" class="scri" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js">
</script>
		<script type="text/javascript" src="/socket.io/socket.io.js"> </script>

<style type="text/css">
	*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.container {
	width: 500px;
	margin: auto;
}
.chat {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #f1f0e8;
}
.chat-header {
	display: flex;
	cursor: pointer;
}
.profile {
	width: 100%;
	background: #036055;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0px 10px;
	position: relative;
}
.profile .pp {
	width: 50px;
	display: inline-block;
	border-radius: 50%;
	margin-left: 32px;
}
.profile .arrow {
	display: inline-block;
	width: 30px;
	position: absolute;
	top: 19px;
	cursor: pointer;
}
.profile h2 {
	display: inline-block;
	line-height: 60px;
	vertical-align: bottom;
	color: #fff;
	font-size: 20px;
}
.profile span {
	color: #ccc;
	position: absolute;
	top: 42px;
	left: 100px;
	font-size: 14px;
}
.right .icon {
	display: inline-block;
	width: 25px;
	margin-left: 10px;
}
.profile .left {
	flex: 1;
}

.chat-box {
	background: url('../img/bg.jpeg');
	background-attachment:all ;
	padding-left: 20px;
	overflow-y: auto;
	display:flex;
flex-direction: column-reverse; 

}
.chat-box .img_chat {
	width: 280px;
}

.chat-r {
	display: flex;
}
.chat-r .sp {
	flex: 1;
}

.chat-l {
	display: flex;
}
.chat-l .sp {
	flex: 1;
}

.chat-box .mess {
	max-width: 300px;
	background: #F7FCF6;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
	cursor: pointer;
}
.chat-box .mess p {
	word-break: break-all;
	font-size: 18px;
}
.chat-box .mess-r {
    background: #E2FFC7;
}
.chat-box .emoji {
	width: 20px;
}
.chat-box .check {
	float: right;
}
.chat-box .check img {
	width: 20px;
}
.chat-box .check span {
	color: #888;
	font-size: 12px;
	font-weight: 700px;
}

*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
	background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.chat-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	position: relative;
	cursor: pointer;
}
.chat-footer textarea {
	display: block;
	flex: 1;
	width: 100%;
	height: 50px;
	border-radius: 60px;
	margin: 5px;
	padding: 10px;
	outline: none;
	font-size: 19px;
	padding-left: 40px;
	padding-right: 90px;
	border: 2px solid #ccc;
	color: #555;
	resize: none;
}
.chat-footer .mic {
	display: block;
	width: 55px;
	height: 55px;
	margin-right: 20px;
}

.chat-footer .emo{
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 10px;
	top: 12px;
}
.chat-footer .icons {
	position: absolute;
	right: 100px;
	top: 10px;
}
.chat-footer .icons img{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
.hid{

	display:none;
}
</style>
</head>
<body>

	<div > 


	<div class="container">
		<div class="chat" id="refreshs">
			<div class="chat-header">
				<div class="profile">
					<div class="left">
						<%if(victim.image && victim.image!==""){%>
						 <img src="/<%=victim.image%>" class="pp">
						<%}else{%>
						 <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="pp">

						<%}%>
						<h2><%=victim.first%></h2>
						<%if(victim.status=="online"){%>
						 <span><img src="https://miro.medium.com/max/512/1*nZ9VwHTLxAfNCuCjYAkajg.png" style="width:10px"></span>
						<%}else{%>
             <span><img src="http://www.clker.com/cliparts/T/G/b/7/r/A/red-dot-md.png" style="width:10px"></span>
						<%}%>
					</div>
					<div class="right">
						
					</div>
				</div>
			</div>
			<div class="chat-box">
            <%if(user && user.chats.length>0){%>
 <%user.chats.forEach(function(info){%> 
             <%if(info.from==currentUser._id && info.to==uid){%>

				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
                            <%=info.text%>
						</p>
						<div class="check">
							<span><%=info.date.toLocaleString([], { hour: '2-digit', minute: '2-digit' })%> <%if(info.seen=="no"){%><span><i class="fas fa-check-double" style="color:grey"></i></span><%}else{%><i class="fas fa-check-double" style="color:blue"></i><%}%>
						</div>
					</div>
				</div>
			<%}else if(info.to==currentUser._id && info.from==uid){%>	
				<div class="chat-l">
					<div class="mess">
						<p>
                            <%=info.text%>
						</p>
						<div class="check">
							<span><%=info.date.toLocaleString([], { hour: '2-digit', minute: '2-digit' })%></span>
						</div>
					</div>
					<div class="sp"></div>
				</div>
             <%}%>
              
       
             <%})%>
             <%}%>  
	             
	
	</div>
</div>
	
		
			<div class="chat-footer">
				<textarea placeholder="Type a message" id="text"></textarea>
				<div class="icons">
					
				</div>
            <span class="btns hid" id="oks"><button class="mic" style="border-radius:30px;border-style:none;cursor:pointer;background-color:green"><i class="fas fa-paper-plane" style="color:white;font-size:20px"></i></button></span>
			
			</div>
</div>		
	

	




<script type="text/javascript">
let messageArea = document.querySelector('.chat-box')
let scrip = document.querySelector('.scri')

function scrollToBottom() {
}

var socket = io();
socket.on("online",function(data){
	
	 socket.emit("onlineStatus",{id:"<%=currentUser._id%>"})
})

socket.on("seen",function(data){
	
	 socket.emit("seenMessage",{id:"<%=currentUser._id%>",uid:"<%=uid%>"})
})
socket.on("done",function(data){
	             $("#refreshs").load(" #refreshs");
	             

})
socket.on("off",function(data){
	
	 socket.emit("offStatus",{id:"<%=currentUser._id%>"})
})
socket.on("message",function(data){
	 
	 console.log("connected")

})
  

function refresh(){


	             $("#refreshs").load(" #refreshs");

	             $("#refreshs").load(" #refreshs");
	            scrip.setAttribute("src","https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js")




} 
function sending(){
	
	            	             	                    $(".chat-box").scrollTop =  $(".chat-box").scrollHeight

}

socket.on("texts",function(data){
	
	 	             $("#refreshs").load(" #refreshs");

	 	             $("#refreshs").load(" #refreshs");
	             $("#refreshs").load(" #refreshs");
	             $("#refreshs").load(" #refreshs");
	            scrip.setAttribute("src","https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js")


	 	            

})


  
   $("#text").on('keyup',function(e){
       
    if(e.key!=="Control" && e.key!=="ArrowRight" && e.key!=="ArrowLeft" && e.key!=="ArrowDown" && e.key!=="ArrowUp" && e.key!=="Spacebar"){ 
     if($("#text").val().length>0){
                  $(".btns").removeClass("hid")
 
      
      }
      else{

                  $(".btns").addClass("hid")

      }
     }
   })
    

  $("#oks").click(function(){





$.ajax({
        url: "/chatCreate",
        method: 'POST',
       data:{
        
        uid:"<%=uid%>",
        id:"<%=id%>",
        text:$("#text").val()

             }        

    });



$("#text").val("")
          $(".btns").addClass("hid")



     	  socket.emit("message",{text:""})

  setTimeout(refresh,1000)



  })  




</script>

</body>

</html>
